html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
header>h1{
    font-weight: 400;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    /*margin: 0 3rem 0 3rem;*/
    margin: 0 2rem;
}

li{
    list-style: none;
    /*
        Deafault font size of HTML root element : 16px
        1rem = 16px.
    */
    font-size: 1.5rem;
    /*display: inline-block;*/
}

ul{
    display: flex;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 1rem;
    width: 20rem;
}

.section_img{
    width: 95vw;
    height: 70vh;
    margin: 1rem;
}

article{
    display: flex;
    margin: 2rem;
}

.container{
    text-align: center;
    margin-right: 2rem;
    padding: 1rem;
}

p{
    font-size: 1.2rem;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 4rem;
    font-size: 1.5rem;
    align-items: center;

}
